[Unit]  
Description=tcpdumpTrafficCapture  
Before=network-online.target
Before=time-sync.target  
[Service] 
Type=forking  
ExecStart=$HOME/TcpdumpTrafficPackage/tcpdumpTrafficCapture-server
ExecReload=/bin/kill -SIGHUP $MAINPID 
[Install]  
WantedBy=multi-user.target 
